<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi, Donut ?</title>
    <link rel="shortcut icon" href="../assets/img/PinkDonnut.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link href="https://cdn.jsdelivr.net/npm/@heroicons/vue@1.0.4/dist/collection/icon-base.css" rel="stylesheet">
</head>

<body>
    <header class="w-full">
        <nav class="flex justify-between navbar items-center">
            <div class="logo-container">
                <a href="/index.html" class="flex gap-1">
                    <h1 class="flex items-center logo-description text-center text-uppercase">
                        Hi, D<img width="25px" src="../assets/img/PinkDonnut.png" alt="Donnut" class="logo donnut">nut ?
                    </h1>
                </a>
            </div>
            <ul class="list-unstyled flex gap-2">
                <li>
                    <a href="/" class="btn btn-default">Home</a>
                </li>
                <li>
                    <a href="/resources/views/OurProducts.html" class="btn-default btn">Our Products</a>
                </li>
                <li>
                    <a href="/resources/views/ContactUS.html" class="btn-default btn">Contact US</a>
                </li>
                <li>
                    <a href="/resources/views/AboutUS.html" class="btn-default active btn">About US</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="h-full">

    </main>
    <footer>
        <hr>
        <div class="mb-3">
            <h3 class="flex items-center">Our Locations</h3>
            <div class="flex gap-4">
                <div class="">
                    <h4>Brazil</h4>
                    <div class="flex gap-4">
                        <ul class="list-unstyled">
                            <li><a class="flex items-center gap-1">Jundiaí - SP
                                </a></li>
                            <li><a class="flex items-center gap-1">São Paulo - SP
                                </a></li>
                            <li><a class="flex items-center gap-1">Aguaí - SP
                                </a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a class="flex items-center gap-1">Poços de caldas - MG
                                </a></li>
                            <li><a class="flex items-center gap-1">Andradas - MG
                                </a></li>
                            <li><a class="flex items-center gap-1">Monte Sião - MG
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <h4>Canada</h4>
                    <div class="flex gap-4">
                        <ul class="list-unstyled">
                            <li><a class="flex items-center gap-1">Vancouver - BC
                                </a></li>
                            <li><a class="flex items-center gap-1">Calgary - AB
                                </a></li>
                            <li><a class="flex items-center gap-1">Toronto - ON
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <h4>EUA</h4>
                    <div class="flex gap-4">
                        <ul class="list-unstyled">
                            <li><a class="flex items-center gap-1">New York - NY
                                </a></li>
                            <li><a class="flex items-center gap-1">Los Angeles - CA
                                </a></li>
                            <li><a class="flex items-center gap-1">Miami - FL
                                </a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a class="flex items-center gap-1">Orlando - FL
                                </a></li>
                            <li><a class="flex items-center gap-1">San Francisco - CA
                                </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <h3>Our Social Media</h3>
            <div class="flex gap-4">
                <ul class="list-unstyled">
                    <li><a class="flex items-center gap-1">
                            Facebook
                        </a></li>
                    <li><a class="flex items-center gap-1">
                            Instagram</a></li>
                    <li><a>Linkedin</a></li>
                    <li><a>GitHub</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <h3>Images credits</h3>
            <div class="flex gap-4">
                <ul class="list-unstyled">
                    <li>
                        <a
                            href="https://br.freepik.com/fotos-gratis/a-femea-positiva-segura-dois-donuts-roxos-nos-olhos-mostra-a-lingua-usa-uma-camiseta-rosa-e-macacao-sendo-gulosa-se-diverte-posa-dentro-de-casa-sobre-a-parede-violeta-coma-sobremesa-saborosa-comigo_11579492.htm#query=comendo%20donuts&position=2&from_view=keyword&track=ais">
                            Image of wayhomestudio
                        </a> in Freepik
                    </li>
                </ul>
            </div>
        </div>
        <p class="text-center">This website was made by <a target="__blank"
                href="https://www.facebook.com/patrick.grilanda">Patrick
                Grilanda
            </a>
        </p>
    </footer>
    <script src="../assets/js/index.js"></script>
</body>

</html>